/*Подключение шрифтов*/
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}
.navigation_wrap {
    display: none;
}
/* Базовая стилизация главной страницы */
 html {
    height: 100%;
 }
body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: #ffffff;
}
.navigation_logo_container {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.page_header {
    color: black;
    background-color: #FFE17F;
}
/*стилизация ссылок в header*/
.navigation_link {
    display: block;
    padding: 25px 20px;
    font-family: "Rubik";
    line-height: 30px;
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}
.navigation_link_service {
    padding: 35px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: inherit;
    text-decoration: none;
    text-align: center;
}
/*-------------------------------------------*/
/* Базовая стилизация main*/
.main_index {
    color: #444444;
    background-color: #ffffff;
}
/*list*/
.main_type {
    margin-bottom: 70px;
}
.main_type_list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;

}
.main_type_item {
    width: 160px;
}
.main_type_link {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}
.main_type_link_container {
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
}

.main_product {
    margin-bottom: 70px;
}
.advantages_row {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*-------------------------------------------*/
/*Табы*/
.container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    
  }

  .tabs {
    display: flex;
    flex-direction: column;
  }

  .tabs_links {
    display: flex;
    flex-direction: row;
    order: 0;
    white-space: nowrap;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #e3f2fd;
    box-shadow: 0 2px 4px 0 #e3f2fd;
  }

  .tabs_links>a {
    display: inline-block;
    text-decoration: none;
    color:  #000000;
    padding: 6px 10px;
    text-align: center;
  }

  .tabs_links>a:hover {
    background-color: rgba(227, 242, 253, 0.3);
  }

  .tabs>#content-1:target~.tabs_links>a[href="#content-1"],
  .tabs>#content-2:target~.tabs_links>a[href="#content-2"],
  .tabs>#content-3:target~.tabs_links>a[href="#content-3"] {
    background-color: #000000;
    cursor: default;
  }

  .tabs>div:not(.tabs_links) {
    display: none;
    order: 1;
    flex-grow: 1;
  }

  @media (min-width: 1000px) {
    .tabs {
      flex-direction: row;
    }

    .tabs_links {
      flex-direction: column;
      border: none;
      box-shadow: none;
    }

    .tabs_links>a {
      border: 1px solid #e3f2fd;
      box-shadow: 0 2px 4px 0 #e3f2fd;
      margin-bottom: 8px;
    }

    .tabs_links>a:last-child {
      margin-bottom: 0;
    }

    .tabs>div:not(.tabs_links) {
      padding-left: 15px;
    }
  }

  .tabs>div:target {
    display: block;
  }

.main_service {
    margin-bottom: 142px;
}

/*Блок с доставкой*/

.main_service_delivery_order_link {
    display: flex;
    justify-content: space-between;
}
.main_service_delivery_order_logo {
    height: 100px;
    width: 125px;
    background-color: #FFE17F;
}
.main_service_delivery_order {
    background-color: #F0F0F0;
}
/*Базовая стилизация главного тоара и приемуществ*/
.index_columns {
    display: flex;
    justify-content: space-between;
    padding: 0;
    color: #444444;
    background-color: #ffffff;

}
.main_advantages_title {
    margin-top: 0;
    margin-bottom: 29px;
    font-family: 'Raleway';
    font-style: normal;
    color: #000000;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}
.main_advantages_info {
    margin-bottom: 60px;
}
.main_inner {
    padding-top: 35px;
}
.main_advantages_more {
    display: inline-block;
    margin-bottom: 60px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.specifications {
    margin: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    color: #000000;
}
.button {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
.main_service_tabs_links {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #000000;
}
.main_service_delivery_order_link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}
.feedback_about_us_title, .feedback_contacts_title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}
.fedback_about_us_item {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}
.feedback_contacts_subtitle {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px; 
}


.feedback_contacts_address_phone {
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    
}
.feedback_container {
    display: flex;
    margin-bottom: 80px;
}
.mail_container {
    display: flex;
    justify-content: space-between;
    
}
.mail_title {
    margin-top: 64px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}
.mail_text {
    margin-top: 74px;
    margin-left: 252px;
}
.mail {
    background-color: #F0F0F0;
}
/*Базовая стилизация футера*/
.page_footer {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: #444444;
    background-repeat: repeat;
}
.footer_social_link_service {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}
/*Базовая стилизация каталога*/
 .inner_header_title {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
 }
 .breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
    color:#000000;
    list-style-type: none;
 }
 .sorting-container .button {
    width: 56px;
    height: 44px;
  }
 .breadcrumbs_link {
    margin-right: 36px;
    color: inherit;
    text-decoration: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
 }
 .sorting_container {
    display: flex;
    padding:20px;
    margin-bottom: 70px;
    color:#000000;
    background-color: #ffffff;
 }
 .product_card_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 44px;
 }

.pagination_container {
    display: flex;
    padding: 25px;
    background-color: #EBEBEB;
}
.pagination_button {
    display: flex;
    margin-top: 18px;
    margin-bottom: 18px;
    
}
.catalog_product_filter_title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
}
.product_card_link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
 }
 .product_card_price {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
 }
 .catalog_product_filter_color, .catalog_product_filter_bluetooth {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
 }
.sorting_container {
    color: black;
    background-color:#F0F0F0;
}
.more_container {
    display: flex;
    margin-bottom: 44px;
}
.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #EBEBEB;
}
.pagination_link  {
    color: #444444;
    background-color: #EBEBEB;
    text-decoration: none;
    line-height: 18px;
    font-weight: 800;
}
.pagination_item:not(:last-child) {
    margin-right: 30px;
}
.pagination_link {
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 10px 16px;
    line-height: 20px;
    font-weight: 400;
    color: #444444;
    text-decoration: none;
}
/*Базовая стилизация завершена*/
/*Сетка главной страницы*/
.html {
    height: 100%;
}
.main_container {
    flex-grow: 1;
}
.navigation {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}
.navigation_list {
    display: flex;
    flex-wrap: wrap;
    width: 517px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation_user {
    margin-left: auto;
    max-width: 471px;
    margin-left: auto;
}
.navigation_user .navigation_link {
    min-width: 105px;
    min-height: 30px;
}
.navigation_service {
    display: flex;
    margin: 0 auto;
    max-width: 471px;
    margin-left: auto;
}

.page_container {
    width: 1160px;
    margin: 0 auto;
}
.main_product_interactive {
    width: 560px;
    text-transform: uppercase;
}
.page_footer_container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding: 60px 0;
}
.footer_adres {
    width: 234px;
    margin-right: 124px;
}
.footer_phone {
    margin-left: auto;
    max-width: 175px;
}
.footer_social_list_service  {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    list-style-type: none;
}
.footer_social_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer_social_list_item {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.footer_social_item_service {
    margin-right: 35px;
}
.footer_social_list_item:nth-child(3n) {
    margin-right: 0;
  }
/*разметка каталога */
.catalog_product {
    display: flex;
}
.catalog_product_filter {
    width: 320px;
    margin-right: 40px;
    background-color: #F0F0F0;
}
.catalog_right_column {
    width: 840px;

}
/* микросетки на флексах основной страницы*/
.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

